<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 读取按键组合的间隔时间，值为毫秒（1000毫秒 = 1秒） -->
    <add key="DelayBetweenCombo" value="50"/>
    <!-- 当值为 True 时为 AZERTY(QZD) 键盘，为 False 时为 QUERTY(AWD) 键盘 -->
    <add key="IsAzerty" value="false"/>
    <!-- 当值为 True 时将记录所有日志，为 False 时将仅记录错误日志 -->
    <add key="IsLogEnabled" value="true"/>

    <!-- 当值为 False 时将 >>仅<< 消耗可用的天然燃料 -->
    <!-- 当值为 True 时将消耗 >>所有<< 可用的燃料 -->
    <add key="ShouldConsumeAllFuel" value="true"/>
    
    <!-- 可使用以下链接来查找欲使用的按键代码 -->
    <!-- 按键代码映射 = https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes -->

    <!-- 36 = Home - 该按键将读取内存并启动 100% 准确率模式 -->
    <add key="keyCodeStart" value="36" />
    
    <!-- 112 = F1 - 该按键将启动随机模式 -->
    <add key="keyCodeStartRandom" value="112" />

    <!-- 35 = End -->
    <add key="keyCodeStop" value="35" />
    
    <!-- 系统 > 选项 > 控制 > 键盘控制 > 菜单操作 > "呼叫预设套装／登记／取消演出" -->
    <!-- 88 = "X" -->
    <add key="keyCutsceneSkip" value="88" />
  </appSettings>
</configuration>
